## Name: 
## Roll Number:

In [ ]:
CB.EN.U4CSE17323

In [36]:
import pandas as pd
df = pd.read_csv('student-mat.csv')

## Q1. Find how many records in the dataset? (1 Mark)

In [37]:
len(df)

395

## Q2. Print how many attributes and whether any of attribute have Null value (1 mark)

In [38]:
len(df.columns)

33

In [39]:
for col in df.columns:
    bool_series = pd.isnull(df[col]) 
df[bool_series]

Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3]
Index: []

[0 rows x 33 columns]

## Q3. Assign roll number as a new column to the dataset (1 mark)

In [40]:
roll = []
for i in range(1,df.shape[0]+1):
    roll.append(i)
df['Roll_Num']=roll
df['Roll_Num'].head()

0    1
1    2
2    3
3    4
4    5
Name: Roll_Num, dtype: int64

## Q4. Take 4 columns (Roll Number, G1, G2, and G3). Compare the students based on pairwise Euclidean distance. Print the first 10 students highly similar to Roll number 1 (2 marks).

In [41]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Roll_Num
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,1
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,3
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,4
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,5

In [46]:
df_sam = df[['Roll_Num', 'G1', 'G2', 'G3']]
df_sam.set_index('Roll_Num')

          G1  G2  G3
Roll_Num
1          5   6   6
2          5   5   6
3          7   8  10
4         15  14  15
5          6  10  10
...       ..  ..  ..
391        9   9   9
392       14  16  16
393       10   8   7
394       11  12  10
395        8   9   9

[395 rows x 3 columns]

In [48]:
from scipy.spatial.distance import cdist
df_array = df_sam.to_numpy()
dist_mat = cdist(df_array, df_array)
distance_matrix = pd.DataFrame(dist_mat, columns = df["Roll_Num"], index = df["Roll_Num"])

In [49]:
distance_matrix[1].sort_values().head(11)

Roll_Num
1      0.000000
2      1.414214
3      5.291503
5      7.000000
8      7.141428
11    11.747340
7     12.083046
12    14.764823
14    15.329710
4     15.937377
6     16.941074
Name: 1, dtype: float64

## Q5. Compute the dissimilarity matrix based on following attributes (age, family size, Fjob, guardian, activities, absences, G1, G2). Please refer to the UCI link for types of attributes. This is a mixed type dataset. So follow the method discussed in Lecture 4.3. (5 Marks)

In [86]:
import numpy as np
df2=df[["age","famsize","Fjob","guardian","activities","absences","G1","G2"]]
df2.dtypes

age            int64
famsize       object
Fjob          object
guardian      object
activities    object
absences       int64
G1             int64
G2             int64
dtype: object

In [87]:
def nominalsim(arr):
    l = len(arr)
    arr_ret = []
    for i in range(l):
        df2 = arr[i]
        arr_df2 = []
        for j in range(l):
            if j<=i:
                if arr[j]==df2:
                    arr_df2.append(0)
                else:
                    arr_df2.append(1)
            else:
                arr_df2.append(float('inf'))
        arr_ret.append(arr_df2)
    return arr_ret

def euclediansim(arr):
    l = len(arr)
    arr_ret = []
    for i in range(l):
        df2 = arr[i]
        arr_df2 = []
        for j in range(l):
            if j<=i:
                arr_df2.append(abs(df2-arr[j]))
            else:
                arr_df2.append(float('inf'))
        arr_ret.append(arr_df2)
    return arr_ret


famsize, activities, Fjob, guardian = df2['famsize'], df2['activities'], df2['Fjob'], df2['guardian']
age, absences, G1, G2 = df2['age'], df2['absences'], df2['G1'], df2['G2']
famsize, activities, Fjob, guardian = famsize.to_list(), activities.to_list(), Fjob.to_list(), guardian.to_list()
age, absences, G1, G2 = age.to_list(), absences.to_list(), G1.to_list(), G2.to_list()
arr1 = np.array(nominalsim(famsize))
arr2 = np.array(nominalsim(activities))
arr3 = np.array(nominalsim(Fjob))
arr4 = np.array(nominalsim(guardian))
arr5 = np.array(euclediansim(age))
arr6 = np.array(euclediansim(absences))
arr7 = np.array(euclediansim(G1))
arr8 = np.array(euclediansim(G2))


total_dissimilarity = (arr1+arr2+arr3+arr4+arr5+arr6+arr7+arr8)/8

In [88]:
total_dissimilarity

array([[0.   ,   inf,   inf, ...,   inf,   inf,   inf],
       [0.75 , 0.   ,   inf, ...,   inf,   inf,   inf],
       [1.625, 1.875, 0.   , ...,   inf,   inf,   inf],
       ...,
       [1.875, 1.75 , 2.25 , ..., 0.   ,   inf,   inf],
       [2.5  , 2.5  , 2.625, ..., 1.625, 0.   ,   inf],
       [1.375, 1.5  , 1.625, ..., 1.25 , 1.75 , 0.   ]])