In [1]:
import pandas as pd

Loading the dataset

In [2]:
df  = pd.read_csv('SampleData.csv',header=None)

Separate features from label(1st column)

In [5]:
features = df.drop(0,axis = 1)

In [7]:
features.head()

,1,2,3,4,5,6,7,8,9,10,...,741,742,743,744,745,746,747,748,749,750
0,1,1,0,1,1,1,1,0,1,0,...,0,0,0,1,0,1,1,1,1,0
1,1,1,0,1,1,1,1,0,1,0,...,0,0,0,1,0,1,1,1,1,0
2,1,1,0,1,1,1,1,1,0,0,...,0,0,0,0,0,1,0,1,1,0
3,1,1,0,1,1,1,1,1,0,0,...,0,0,0,0,0,1,0,1,1,0
4,1,1,0,1,1,1,1,1,0,0,...,0,0,0,0,0,1,0,1,1,0

In [9]:
features.shape

(250, 750)

Number of features is 750

Order of data matrix is 250x751

In [10]:
def pairsim(a,b):
    match = 0
    for i in range(1,750):
        if features.loc[int(a),int(i)] == features.loc[int(b),int(i)]:
            match = match +1
    similarity = match/750
    return similarity

In [12]:
similarity_matrix = []
for i in range(250):
    temp = []
    for j in range(250):
        if i!=j:
            similarity = pairsim(i,j)
            temp.append(similarity)
        else:
            temp.append(0)
    similarity_matrix.append(temp)

In [13]:
import csv

In [16]:
with open('Sim.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    for i in range(250):
        writer.writerow(similarity_matrix[i])