In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("house_price.csv")

In [6]:
#1
df.shape[1]

35

In [7]:
#2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1379 entries, 0 to 1378
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LotFrontage    1379 non-null   float64
 1   LotArea        1379 non-null   int64
 2   OverallQual    1379 non-null   int64
 3   OverallCond    1379 non-null   int64
 4   YearBuilt      1379 non-null   int64
 5   YearRemodAdd   1379 non-null   int64
 6   MasVnrArea     1379 non-null   float64
 7   BsmtFinSF1     1379 non-null   int64
 8   BsmtFinSF2     1379 non-null   int64
 9   BsmtUnfSF      1379 non-null   int64
 10  TotalBsmtSF    1379 non-null   int64
 11  1stFlrSF       1379 non-null   int64
 12  2ndFlrSF       1379 non-null   int64
 13  LowQualFinSF   1379 non-null   int64
 14  GrLivArea      1379 non-null   int64
 15  BsmtFullBath   1379 non-null   int64
 16  BsmtHalfBath   1379 non-null   int64
 17  FullBath       1379 non-null   int64
 18  HalfBath       1379 non-null   int64
 19  BedroomAbvGr   1379 non-null   int64
 20  KitchenAbvGr   1379 non-null   int64
 21  TotRmsAbvGrd   1379 non-null   int64
 22  Fireplaces     1379 non-null   int64
 23  GarageYrBlt    1379 non-null   float64
 24  GarageCars     1379 non-null   int64
 25  GarageArea     1379 non-null   int64
 26  WoodDeckSF     1379 non-null   int64
 27  OpenPorchSF    1379 non-null   int64
 28  EnclosedPorch  1379 non-null   int64
 29  3SsnPorch      1379 non-null   int64
 30  ScreenPorch    1379 non-null   int64
 31  PoolArea       1379 non-null   int64
 32  MiscVal        1379 non-null   int64
 33  YrSold         1379 non-null   int64
 34  SalePrice      1379 non-null   int64
dtypes: float64(3), int64(32)
memory usage: 377.2 KB

In [15]:
#3
df['GarageYrBlt'].dtype

dtype('float64')

In [8]:
#4
df['SalePrice'].mean()

185479.511240029

In [9]:
#5
df1=df[df['YearBuilt']<2000]
len(df1)

994

In [10]:
#6
df2=df[df['YearBuilt']>2000]
df2['SalePrice'].max()

611657

In [11]:
#7
df3=df[df['YearBuilt']==2008]
df3['SalePrice'].mean()

348849.1304347826